---
import { SITE_METADATA } from "@/constants"
---

<footer class="container mt-10 py-4 text-center">
  <p class="text-center">
    Copyright &copy; {SITE_METADATA.copywriteYears}
    {" "}
    {SITE_METADATA.author}. Website source code on <a target="_blank" rel="noreferrer" href={SITE_METADATA.github}
      >GitHub</a
    >.
  </p>
</footer>
